[submodule "SomaEngine/vendor/spdlog"]
	path = SomaEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SomaEngine/vendor/imgui"]
	path = SomaEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "SomaEngine/vendor/glm"]
	path = SomaEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "SomaEngine/vendor/directxheaders"]
	path = SomaEngine/vendor/directxheaders
	url = https://github.com/microsoft/DirectX-Headers
